.container2 {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.container .container2 img {
  display: inline-block;
}

.fi {
  text-transform: capitalize;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cos {
  position: relative;
  align-items: center;
  color: white;
}

.fii {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 1px gray solid;
}

.ci {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}

.i3 {
  flex-direction: column;
}

.im {
  flex-direction: row;
}

.i2 {
  flex-direction: row;
}

.icod {
  align-content: center;
}

.od {
  align-items: center;
  justify-self: center;
  display: inline-block;
}

.ci {
  border-right: 1px solid grey;
  justify-items: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.im {
  border-left: 1px solid grey;
}

.i3 .ccc {
  margin: 5px;
}

.i3 .csc {
  font-size: 12px;
  margin: 3px;
}

.nnn {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.mx {
  padding-left: 300px;
  background-color: rgba(185, 185, 184, 0.2);
  padding-right: 60px;
}

.kx {
  background-color: rgba(131, 131, 131, 0.2);
}

.in {
  padding-top: 100px;
  padding-bottom: 80px;
  margin-top: 20px;
}

.olp {
  padding-bottom: 30px;
}

.fsd {
  font-size: 14px;
}

/*.ilm {
  display: grid;
  grid-template-columns: repeat(3, 31.35%);
  margin-top: 40px;
  gap: 40px;
}

.ijl {
  border-bottom: 1px solid rgba(131, 131, 131, 0.2);
  border-right: 1px solid rgba(131, 131, 131, 0.2);
  border-top: 1px solid rgba(131, 131, 131, 0.2);
  border-left: 1px solid rgba(131, 131, 131, 0.2);
}*/
.ilm {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cột bằng nhau */
  gap: 40px;
  margin-top: 40px;
}

.ijl {
  border: 1px solid rgba(131, 131, 131, 0.2);
  padding: 20px;
}

.sls {
  border-left: 1px solid rgba(131, 131, 131, 0.2);
  padding-left: 40px;
  padding-right: 40px;
}

.cls {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.cms {
  padding-left: 40px;
  padding-right: 40px;
}

.iijk {
  background-color: rgb(0, 102, 255);
  display: inline-block;
  height: 5px;
  margin-right: 6px;
  width: 45px;
}

.imjk {
  background-color: rgba(131, 131, 131, 0.2);
  display: inline-block;
  height: 5px;
  margin-right: 6px;
  width: 45px;
}

.ikk {
  padding: 40px;
}

.iks {
  padding-left: 40px;
  padding-top: 40px;
}

.igd {
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.iuk {
  background-color: rgba(131, 131, 131, 0.2);
}

.ckk {
  margin-top: 30px;
  padding-bottom: 10px;
}

.iljjk {
  border-bottom: 2px solid #d6c08d;
}

.il {
  border-bottom: 2px solid #d6c08d;
  border-left: #d6c08d 2px solid;
  padding-top: 76.39px;
}

.xfx {
  display: grid;
  grid-template-columns: repeat(3, 31.35%);
  margin-top: 40px;
  gap: 40px;
}

.ifc {
  border: 1px solid #83838333;
  margin-bottom: 40px;
}

.ckgf {
  display: inline-block;
  padding-right: 30px;
}

.rtru {
  border-top: 1px solid rgba(131, 131, 131, 0.2);
  padding-left: 30px;
}

.header-exp {
  display: flex;
  background-color: #f8b24f;
  align-items: center;
}

.header-left {
  flex: 3; /* 75% */
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

.header-right {
  flex: 1; /* 25% */
  text-align: center;
  font-size: 36px;
  opacity: 0.6;
}

.header-box {
  display: flex;
  align-items: center;
  /*  background-color: #f8b24f;*/
}

.header-left {
  width: 60%;
  padding: 15px;
  font-size: 22px;
  font-weight: bold;
}

.header-right {
  width: 40%;
  text-align: center;
  font-size: 32px;
  opacity: 0.6;
}

.ico {
  padding: 20px;
  border: 1px solid lightblue;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.ics {
  display: inline-block;
}

.iuh {
  background-color: rgb(0, 102, 255);
  border: 1px solid rgb(0, 102, 255);
  border-radius: 30%;
  padding: 10px;
  margin-right: 10px;
  color: white;
  margin-left: 30px;
}

.ckgf {
  display: inline-block;
}

.scc {
  margin-left: 30px;
}
/*
.iljjk {
  margin-left: 30px;
}

.il {
  margin-right: 30px;
}


.ij {
  margin-left: 30px;
}
  */

.iop {
  display: inline-block;
}

.ing {
  display: inline-block;
}

.iucn {
  display: inline-block;
}

.ijkp {
  display: flex;
  background-color: rgba(131, 131, 131, 0.2);
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.ilmn {
  padding-right: 20px;
  color: lightskyblue;
}

@media (max-width: 500px) {
  .im {
    display: block;
    width: 100%;
  }
  .i2 {
    display: block;
    width: 100%;
  }
  .i4 {
    display: block;
    width: 100%;
  }
  .i5 {
    display: block;
    width: 100%;
  }
  .ci {
    border: none;
  }
  .navbar {
    border: none;
  }
}

.navbar {
  margin-bottom: 30px;
}

.dps {
  padding-bottom: 30px;
}

.ilm {
  padding-bottom: 30px;
}

.ifc {
  margin-left: 0;
}

.ifbbgn {
  padding-left: 60px;
  padding-right: 30px;
}

.uiopa {
  padding-left: 30px;
  padding-right: 60px;
}

.ifc {
  margin-right: 0;
}
/*tablet*/
@media (min-width: 740px) and(max-width: 1004px) {
  .i3 {
    display: none;
  }
}

/*.ijl button {
  display: none;
}

.ijl:hover button {
  display: block;
}*/

.ijl button {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.ijl:hover button {
  opacity: 1;
  pointer-events: auto;
}

.sdsdd button {
  border-radius: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.sdsdd input {
  border-radius: 40px;
  padding-left: 10px;
}
